<html>
  <head>
  	<title>Hangman in Sinatra</title>
  </head>
  <body>
  <center style="margin-top: 200px;">
    <p>
      YOU WIN!

      The word was <%= secret_word %><br>
      <a href="/new">New game?</a>
    </p>
   </center>
  </body>
</html>